

body{
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: #fff;
    background-image: url("../images/background.jpg");
}

.container{
    /*Your code here  */
    /* See documentation for mobile view */
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    grid-row-gap:30px;
}


h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

h2{
    margin-top: 3px;
    margin-bottom: 20px;
}

h1 figcaption{
    font-size: 15px;
}

a{
    color:white;
    transition: background-color 0.5s;
}
a:visited{
    color: lightcoral;
}

a:hover{
    /* color: orange; */
    background-color: gold;
}

a:active{
    color: green;
}

#awesome_icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

header{
    grid-column: 2 / span 1;
}
nav{
    padding: 20px 0;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1;
}

nav li{
    text-align: center;
    font-size: 15px;
    text-align: center;
    font-family: "Sofia";
    display:inline; 
    padding-right:20px;
}

.banner {
    /* background-image: url("../images/background.jpg"); */
    
    grid-column: 1 / -1;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.banner h1 {
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    color: white;
    font-size: 42px;
    font-weight: 600;
    
}

img{
    display: block;
    width: 50%;
    /* height: 50%; */
    padding: 4px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

img:hover{
    background-color: gold;
}

#main_photo{
    animation: fadeIn 3s;
}

main {
    /* background-image: url("../images/background.jpg");  */
    background-size: cover;
    background-position: bottom center;
    margin: 0 auto;
    padding: 40px;
    /* text-align: center; */
    width: auto;
    height: auto;
    overflow: scroll;
}

main{
    grid-column: 2 / span 1;
}
.main_page{
    grid-column: 2 / span 1;
}


.about {
    /* display: flex; */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    text-align: left;
    /* align-items: flex-start;
    flex-wrap: nowrap; */
}

.about h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}
.about p{
    font-size: large;
}
.about p figcaption{
    text-align: center;
}

.education {
    /* display: flex; */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* align-items: stretch;
    align-content: space;
    justify-content: space-between;
    flex-wrap: nowrap; */
}
.education h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}

.skill {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* align-items: stretch;
    align-content: space;
    justify-content: space-between;
    flex-wrap: nowrap; */
}

.skill h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}

.skill .kinds h2{
    font-size: x-large;
    color: black;
    font-weight: 500;
}

.work {
    /* display: flex; */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* align-content: center; */
    text-align: center;
    /* flex-wrap: wrap; */
}
.work h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}


.projects {
    display: flex;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.projects h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}



aside{
    grid-column: 2 / span 1;
    display:flex;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
}

.current{
    font-size:30px;
    color: green;
    font-style:italic;
}


.work-experience{
    padding: 4em;
    margin-bottom: 40px;
}

.hobbies{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: black;
    padding: 4em;
    margin-bottom: 40px;
}

.hobbies h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}

small{
    font-size: smaller;
}



p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figcaption{
    color: gold;
    text-align: center;
    padding: 4px;
    margin-bottom: 40px;
}

.skill{
    padding: 2em;
    margin-bottom: 40px;
}

h2 ul{
    font-size: 15px;
    text-align: left;
    padding: 2em;
    margin-bottom: 40px;
}

footer {
    grid-column: 2 / span 1;
    background-image: url("../images/background.jpg");
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery img{
    border: 0px solid #ffc60a;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

.skills {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
}
.skills h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}

.hobbies {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
}
.hobbies h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}

.experience{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;    
}

.experience h1{
    font-size: xx-large;
    color: black;
    font-weight: 700;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media all and (min-width: 700px){

}


@media (prefers-reduced-motion: reduce){
    #main_photo {
        animation: none;
    }
}